<apex:page controller="skyplatform.ReconcileCallsController" sidebar="true">
    <apex:form id="form">

        <apex:pageBlock id="topBlock" title="ShoreTel Sky Call Record" >
           	<apex:pageMessages id="pm"/>

				<apex:pageBlockButtons location="top" > 
                	<apex:commandButton value="View as Task" action="{!viewAsTask}" />
                	<apex:commandButton value="Save Changes" action="{!saveTaskChanges}" />
                	<apex:commandButton value="Done" action="{!cancel}" />
               </apex:pageBlockButtons> 

           	<apex:pageBlockSection columns="2">
           		<apex:outputField value="{!theCallRecord.Subject}" ><apex:inlineEditSupport event="onmouseup" /></apex:outputField>
           		<apex:outputField value="{!theCallRecord.Description}" ><apex:inlineEditSupport event="onmouseup" /></apex:outputField>
           		<apex:outputField value="{!theCallRecord.WhoId}" />
           		<apex:outputField value="{!theCallRecord.WhatId}" />
           		<apex:outputField value="{!theCallRecord.skyplatform__Unique_Call_Id__c}" />
           		<apex:outputField value="{!theCallRecord.skyplatform__Call_Start_Date_Time__c}" />
           		<apex:outputField value="{!theCallRecord.CallDurationInSeconds}" />
           		<apex:outputField value="{!theCallRecord.CallType}" />
           		<apex:outputField value="{!theCallRecord.CallDisposition}" />
           		<apex:outputField value="{!theCallRecord.skyplatform__From_Phone__c}" />
           		<apex:outputField value="{!theCallRecord.skyplatform__To_Phone__c}" />
           		<apex:outputField value="{!theCallRecord.skyplatform__Is_Imported__c}" />
           		<apex:outputField value="{!theCallRecord.skyplatform__Is_Personal__c}" />
           		<apex:inputCheckBox label="Is Answered" value="{!theECR.isAnswered}" disabled="true" />
           		<apex:outputText label="Answered By" value="{!theECR.answeredBy}" />
           		<apex:outputText label="Caller ID" value="{!theECR.callerId}" />
           		<apex:outputText label="CNAM" value="{!theECR.cnam}" />
           		<apex:outputText label="DNIS" value="{!theECR.dnis}" />
           		<apex:outputText label="Dialed Label" value="{!theECR.dialedLabel}" />
           		<apex:outputText label="Remote Party Label" value="{!theECR.remotePartyLabel}" />
           		<apex:outputText label="Subscriber Label" value="{!theECR.subscriberLabel}" />
           		<apex:outputText label="Extra Info" value="{!theECR.extraInfo}" />
           		<apex:inputCheckBox label="Is Quality Call" value="{!theECR.isQualityCall}" disabled="true" />
           		<apex:outputText label="Quality Of Call" value="{!theECR.qualityOfCall}" />
           		<apex:outputText label="Ring Time" value="{!theECR.ringTime}" />
           		<apex:outputText label="Talk Time" value="{!theECR.talkTime}" />
           		<apex:outputText label="Hold Time" value="{!theECR.holdTime}" />
           	</apex:pageBlockSection> 
        </apex:pageBlock>
           	               
    </apex:form>
</apex:page>