<apex:page standardController="Evaluation__c">
    <apex:pageBlock >
        <apex:pageBlockSection title="Call Evaluation">
            
        
        </apex:pageBlockSection>
    
    </apex:pageBlock>
</apex:page>